* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --gray1: #4f4f4f;
  --gray2: #828282;
  --gray3: #c4c4c4;
  --gray4: #f2f2f2;
  --gray5: #e0e0e0;
  --gray6: #a9a9a9;
  --primary: #5c94e1;
  --primary-hover: #cedef6;
  --progress: #2f80ed;

  --border-radius: 12px;

  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 1.5rem;
}

body {
  font-family: 'Montserrat';
  background-color: var(--gray4);
  margin: 1rem;
  color: var(--gray1);
}

img {
  display: block;
}

p {
  font-size: 0.825rem;
  line-height: 18.5px;
}

.card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
  margin-bottom: var(--margin-medium);
}

.tech_card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
}

.design_card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
}

.profile_card {
  margin-bottom: var(--margin-medium);
  display: flex;
  flex-direction: column;
}

.profile_image {
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 100%;
  max-width: 25rem;
  margin-bottom: var(--margin-medium);
}

.profile_image img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.profile_info {
  margin-bottom: var(--margin-medium);
}

.profile_info p:first-child {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: var(--margin-medium);
}

.profile_info p:last-child,
.profile_description {
  color: var(--gray2);
  font-size: 1.2rem;
  width: 80%;
  font-weight: 500;
}

.email,
.phone {
  transition: 0.2s ease-out color;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-small);
}

.email img,
.phone img {
  margin-right: var(--margin-small);
}

.skills {
  margin-bottom: var(--margin-medium);
}

.skills_card h3 {
  margin-bottom: (var(--margin-medium));
}

.tech_skills {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-medium);
}

.profile_description {
  color: var(--gray2);
  font-size: 0.875rem;
  width: 90%;
  margin-top: var(--margin-large);
}

.tech_card {
  margin-bottom: var(--margin-medium);
}

.tech_scale {
  margin-left: auto;
  border-radius: 7px;
  width: 60%;
  height: 0.5rem;
  background-color: var(--gray3);
}

.tech_percent {
  height: 0.5rem;
  border-radius: 5px;
  background-color: var(--progress);
}

.react {
  width: 60%;
}

.javascript {
  width: 83%;
}

.css {
  width: 95%;
}

.vue {
  width: 56%;
}

.redux {
  width: 75%;
}

.reactnative {
  width: 93%;
}

.figma {
  width: 60%;
}

.photoshop {
  width: 83%;
}

.project_count,
.blog_count {
  margin-bottom: var(--margin-medium);
}

.project_card {
  margin-bottom: var(--margin-large);
}

.project_card p {
  color: var(--gray2);
}

.project_cover {
  width: 100%;
  overflow: hidden;
  height: 15rem;
  margin-bottom: var(--margin-medium);
  border-radius: var(--border-radius);
}

.project_cover img {
  width: 100%;
  height: 100%;
}

.project_tag {
  display: flex;
}

.project_tag > p {
  margin-right: var(--margin-small);
  margin-bottom: var(--margin-medium);
}

.project_title {
  margin-bottom: var(--margin-medium);
}

.project_detail {
  margin-bottom: var(--margin-large);
}

button {
  border: none;
  margin-bottom: var(--margin-small);
  margin-right: var(--margin-small);
}

button a {
  text-decoration: none;
  color: var(--progress);
  border-radius: var(--border-radius);
  border: 1px solid var(--progress);
  background-color: var(--white);
  padding: 0.5rem 2rem;
  transition: 0.2s ease-out all;
}

.btn-demo a {
  background-color: var(--progress);
  color: var(--white);
  border: none;
}

.blog_tag,
.blog_platform {
  color: var(--gray5);
  font-size: 0.825rem;
  margin-bottom: var(--margin-medium);
}

.blog_cover {
  display: flex;
  overflow: hidden;
  margin-bottom: var(--margin-medium);
}

.blog_title {
  width: 50%;
}

.blog_title h3 {
  font-weight: 500;
}

.blog_image {
  width: 60%;
  transform: translateX(5%);
  height: 11rem;
  overflow: hidden;
}

.blog_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_details {
  margin-bottom: var(--margin-large);
}

.blog_details p {
  color: var(--gray2);
  margin-bottom: var(--margin-medium);
  padding-right: 1rem;
}

.blog_card {
  padding-right: 0;
}

.blog_platform {
  color: var(--progress);
  margin-bottom: 0;
}

section {
  margin-bottom: var(--margin-medium);
}

.experience_card,
h3,
.hobby_card h3 {
  margin-bottom: var(--margin-medium);
}

.experience_position,
.hobby_title {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: var(--margin-small);
}

/* Experience section styles */

.experience_card {
  display: flex;
  margin-bottom: var(--margin-large);
}

.experience_logo {
  width: 40%;
  margin-right: var(--margin-medium);
  overflow: hidden;
}

.experience_logo img {
  width: 100%;
}

.experience_date {
  margin-bottom: var(--margin-small);
}

.experience_date,
.experience_role {
  color: var(--gray2);
}

.hobby,
.hobby_card {
  margin-bottom: var(--margin-large);
}

.hobby_image {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin-bottom: var(--margin-medium);
}

.hobby_image img {
  width: 100%;
}

footer a {
  border-top: 1px solid var(--gray2);
  padding-top: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.75rem;
  color: var(--gray2);
  transition: 0.2s ease-out color;
}

@media screen and (min-width: 720px) {
  body {
    display: grid;
    grid-template-rows: 17rem 9rem 3rem 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }

  .profile_card {
    grid-column: 1 / span 3;
    grid-row: span 3;
  }

  .profile_description {
    margin-top: var(--margin-medium);
  }

  .skills {
    grid-row: 1 / 2;
    grid-column: 4 / span 3;
  }

  .skills_tech {
    grid-row: 2;
    grid-column: 4 / span 3;
  }

  .tech_card {
    margin-bottom: var(--margin-medium);
  }

  .projects {
    grid-row: 3;
    grid-column: 4 / span 3;
  }

  .project_card {
    height: auto;
  }

  .experience {
    grid-column: span 3;
    grid-row: 4;
  }

  .logo {
    width: 30%;
  }

  .hobby {
    grid-column: span 3;
    grid-row: 5 / span 3;
  }

  .blog {
    grid-column: span 3;
    grid-row: 8;
    transform: translateY(-2rem);
  }

  footer {
    grid-row: 10;
    grid-column: span 6;
  }
}

@media screen and (min-width: 1100px) {
  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1rem;
    max-width: 1250px;
    margin: 0 auto;
  }

  .profile_card {
    grid-column: 1 / span 4;
    height: 35rem;
  }

  .profile_image {
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
    height: 60%;
    max-width: 35rem;
    margin-bottom: var(--margin-medium);
  }

  .profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 30%;
  }

  .skills {
    grid-column: 5 / span 9;
    display: flex;
  }

  .skill_header {
    margin-left: var(--margin-medium);
  }

  .skills_card {
    width: 50%;
    height: 100%;
  }

  .design_card {
    width: 50%;
    height: 50%;
  }

  .tech_card {
    margin-right: var(--margin-medium);
  }

  .tech_skills {
    margin-left: var(--margin-medium);
    margin-top: var(--margin-medium);
    height: 8%;
  }

  .experience_logo {
    width: 70%;
  }

  .projects {
    grid-row: 2;
    grid-column: 5 / span 8;
  }

  .project_card {
    display: flex;
    margin-bottom: var(--margin-large);
  }

  .project_cover {
    width: 50%;
    height: 15rem;
    overflow: hidden;
  }

  .project_cover img {
    height: 100%;
    width: 100%;
  }

  .project_about {
    margin-left: auto;
    width: 47%;
    height: 10rem;
    display: flex;
    flex-direction: column;
  }

  .project_detail {
    flex: 1;
  }

  .blog {
    transform: translateY(-15rem);
    grid-row: 7;
    grid-column: 5 / span 8;
  }

  .experience {
    transform: translateY(4rem);
    grid-column: 1 / span 4;
  }

  .blog_cover,
  .blog_image {
    height: 15rem;
  }
  .hobby {
    transform: translateY(2rem);
    grid-column: 1 / span 4;
  }

  footer {
    grid-column: 5 / span 4;
    border-top: 1px solid var(--gray6);
  }

  footer a {
    border-top: none;
  }
}
